<ion-content>
    <div class = "main-container">
        <h1>TinBooks</h1>
        <ul>
            <li>
                <img src = 'assets/perfis/corujinea.png'/>
                <footer>
                    <strong>Corujinea</strong>
                    <p>Ficção-Científica, Agatha Christie, Carl Sagan</p>
                </footer>
                <div class = "buttons">
                    <button type = "button">
                        <img src = 'assets/perfis/like.svg'/>
                    </button>
                    <button type = "button">
                        <img src = 'assets/perfis/dislike.svg'/>
                    </button>
                </div>
            </li>
            <li>
                <img src = 'assets/perfis/tamandua.png'/>
                <footer>
                    <strong>Tamandua</strong>
                    <p>Aventura, Fantasia, J.K. Rowling - Hary Potter</p>
                </footer>
                <div class = "buttons">
                    <button type = "button">
                        <img src = 'assets/perfis/like.svg'/>
                    </button>
                    <button type = "button">
                        <img src = 'assets/perfis/dislike.svg'/>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</ion-content>
